@model List<BarCrudMVC.Models.ProductoAdminViewModel>

<section class="container-fluid">
	<h1 class="display-5 fw-bold text-center">Producto Administrar</h1>
	<hr>

	<a class="btn btn-secondary float-end" asp-controller="Producto" asp-action="AddView"><i class="bi bi-plus-circle"></i> Agregar Producto</a>

	@if (Model != null && Model.Count > 0)
	{
		<article>
			<table class="table">
				<thead>
						<tr>
							<th>Id<th/>
							<th>Nombre<th/>
							<th>Fecha Baja</th>
							<th></th>
							<th>Acciones</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
				</thead>
				<tbody>
					@foreach (var producto in Model)
					{
						<tr class="form-group">
							<td>@Html.DisplayFor( p =>producto.Id)</td>
							<td></td>
							<td>@Html.DisplayFor( p =>producto.Nombre)</td>
							<td></td>
							<td>@Html.DisplayFor( p =>producto.FechaBaja)</td>
							<td></td>
							<td>
								<a asp-action="VerProductoAdmin" asp-controller="Producto" class="btn btn-outline-secondary" 
								asp-route-id="@producto.Id"><i class="bi bi-search"></i> Ver</a>
							</td>
							<td>
								<a asp-action="EditView" asp-controller="Producto" class="btn btn-outline-primary" 
								asp-route-id="@producto.Id"><i class="bi bi-pencil-fill"></i></a>
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="SoftDelete" asp-controller="Producto">
									<input type="hidden" value="@producto.Id">
									<button type="submit" class="btn btn-outline-warning" asp-action="SoftDelete" asp-route-id="@producto.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i> Logico</button>
								</form>
							</td>
							<td></td>
							<td>
								@if (producto.FechaBaja != null)
								{
									<form method="post" asp-action="Restore" asp-controller="Producto">
										<input type="hidden" value="@producto.Id">
										<button type="submit" class="btn btn-outline-warning" asp-action="Restore" asp-route-id="@producto.Id">
											<i class="bi bi-clipboard2-plus-fill"></i>Restore </button>
									</form>
								}
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="Delete" asp-controller="Producto">
									<input type="hidden" value="@producto.Id">
									<button type="submit" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@producto.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i></button>
								</form>
							</td>
							<td></td>
						</tr>
					}
					</tbody>					
			</table>
		</article>	
	}else
	{
		<br>
		<br>
		<p class="alert alert-danger">No hay Productos para mostrar.</p>
	}
</section>
