@model List<BarCrudMVC.Models.BarAdminViewModel>

<section class="container-fluid">
	<h1 class="display-5 fw-bold text-center">Bar Administrar</h1>
	<hr>

	<a class="btn btn-secondary float-end" asp-controller="Bar" asp-action="AddView"><i class="bi bi-plus-circle"></i> Agregar Bar</a>

	@if (Model != null && Model.Count > 0)
	{
		<article>
			<table class="table">
				<thead>
						<tr>
							<th>Id<th/>
							<th>Nombre<th/>
							<th>Fecha Baja</th>
							<th></th>
							<th>Acciones</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
				</thead>
				<tbody>
					@foreach (var bar in Model)
					{
						<tr class="form-group">
							<td>@Html.DisplayFor( c =>bar.Id)</td>
							<td></td>
							<td>@Html.DisplayFor( c =>bar.Nombre)</td>
							<td></td>
							<td>@Html.DisplayFor( c =>bar.FechaBaja)</td>
							<td></td>
							<td>
								<a asp-action="VerBarAdmin" asp-controller="Bar" class="btn btn-outline-secondary"
						   asp-route-id="@bar.Id"><i class="bi bi-search"></i> Ver</a>
							</td>
							<td>
								<a asp-action="EditView" asp-controller="Bar" class="btn btn-outline-primary" 
								asp-route-id="@bar.Id"><i class="bi bi-pencil-fill"></i></a>
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="SoftDelete" asp-controller="Bar">
									<input type="hidden" value="@bar.Id">
									<button type="submit" class="btn btn-outline-warning" asp-action="SoftDelete" asp-route-id="@bar.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i> Logico</button>
								</form>
							</td>
							<td></td>
							<td>
								@if (bar.FechaBaja != null)
								{
									<form method="post" asp-action="Retrieve" asp-controller="Bar">
										<input type="hidden" value="@bar.Id">
										<button type="submit" class="btn btn-outline-warning" asp-action="Retrieve" 
										asp-route-id="@bar.Id"><i class="bi bi-clipboard2-plus-fill"></i>Retrieve </button>
									</form>
								}
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="Delete" asp-controller="Bar">
									<input type="hidden" value="@bar.Id">
									<button type="submit" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@bar.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i></button>
								</form>
							</td>
							<td></td>
							<td>
								<a href="/Producto/ProductosPorBar/?nombre=@bar.Nombre&id=@bar.Id"
								class="btn btn-outline-secondary"><i class="bi bi-search"></i>Ver Productos</a>
							</td>
						</tr>
					}
					</tbody>					
			</table>
		</article>	
	}else
	{
			<br>
			<br>
			<p class="alert alert-danger">No hay bares para mostrar.</p>
	}
</section>
