@model BarCrudMVC.Models.PedidoViewModel

<section class="row mx-auto w-50 p-4">
	<div class="col">
		<h1 class="display-5 fw-bold text-center">Detalle</h1>
		<hr>
		<br>
		@if (ViewBag.Error != null)
		{
			<article class="alert  alert-danger" role="alert">
				@ViewBag.Error
			</article>
		}
		<article class="card-deck mx-auto w-50  ">
			
			@if (Model != null && Model.PedidoDetalles.Count > 0)
			{				
				<br>
				@foreach (var pedidoDetalle in Model.PedidoDetalles)
				{

					<article class="card text-dark border-secondary bg-light" style="width: 18rem; display:inline-flex">
						<img class="card-img-top" src="@pedidoDetalle.Producto.Imagen" style="width: 18rem; height: 13rem;">
						<div class="card-body bg-light">
							<h4 class="card-title">
								@pedidoDetalle.Producto.Nombre 
								<a asp-action="VerProducto" asp-controller="Producto" class="btn btn-outline-secondary float-end"
								asp-route-id="@pedidoDetalle.Producto.Id"><i class="bi bi-search"></i></a>
							</h4>
							<br>
							<p style="inline-block">
								<span class=" h3 fw-bold card-text">
									$
								</span>
								<span class="card-text h3"> @pedidoDetalle.PrecioUnitario </span>
							</p>
							<p style="inline-block">
								<span class=" fw-bold text-secondary card-text">Cantidad:</span>
								<span class="card-text"> @pedidoDetalle.Cantidad </span>
							</p>
						</div>
						<br>
					</article>
					<br>
					<br>
				}
				<br>
				<article class="card text-dark bg-light border-secondary mx-auto" style="width: 18rem; display:inline-flex">
					<h2 class ="card-title">Total: @Model.Total</h2>
				</article>			
			}
			else
			{
				<h3>No se encontro ningun Pedido.</h3>
			}
		</article>
			<article>

				<a class="nav-link" 
				href='javascript:history.go(-1)'>
				<i class="bi bi-arrow-left"></i> Volver
				</a>

		</article>
	</div>
</section>