@model List<BarCrudMVC.Models.CategoriaAdminViewModel>

<section class="container-fluid">
	<h1 class="display-5 fw-bold text-center">Categoria Administrar</h1>

	<hr>
	@if (ViewBag.Fallo != null)
		{
			<article class="alert  alert-danger" role="alert">
				@ViewBag.Fallo
			</article>
		}
		@if (ViewBag.Exito != null)
		{
			<article class="alert alert-success">
				@ViewBag.Exito
			</article>
		}
	<a class="btn btn-secondary float-end" asp-controller="Categoria" asp-action="AddView"><i class="bi bi-plus-circle"></i> Agregar Categoria</a>

	@if (Model != null && Model.Count > 0)
	{
		<article>
			<table class="table">
				<thead>
						<tr>
							<th>Id<th/>
							<th>Nombre<th/>
							<th>Fecha Baja</th>
							<th></th>
							<th>Acciones</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
				</thead>
				<tbody>
					@foreach (var categoria in Model)
					{
						<tr class="form-group">
							<td>@Html.DisplayFor( c =>categoria.Id)</td>
							<td></td>
							<td>@Html.DisplayFor( c =>categoria.Nombre)</td>
							<td></td>
							<td>@Html.DisplayFor( c =>categoria.FechaBaja)</td>
							<td></td>
							<td>
								<a asp-action="VerCategoria" asp-controller="Categoria" class="btn btn-outline-secondary" 
								asp-route-id="@categoria.Id"><i class="bi bi-search"></i> Ver</a>
							</td>
							<td>
								<a asp-action="EditView" asp-controller="Categoria" class="btn btn-outline-primary" 
								asp-route-id="@categoria.Id"><i class="bi bi-pencil-fill"></i></a>
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="SoftDelete" asp-controller="Categoria">
									<input type="hidden" value="@categoria.Id">
									<button type="submit" class="btn btn-outline-warning" asp-action="SoftDelete" asp-route-id="@categoria.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i> Logico</button>
								</form>
							</td>
							<td></td>
							<td>
								@if (categoria.FechaBaja != null)
								{
												<form method="post" asp-action="Restore" asp-controller="Categoria">
										<input type="hidden" value="@categoria.Id">
										<button type="submit" class="btn btn-outline-warning" asp-action="Restore" 
										asp-route-id="@categoria.Id"><i class="bi bi-clipboard2-plus-fill"></i>Restore </button>
									</form>
								}
							</td>
							<td></td>
							<td>
								<form method="post" asp-action="Delete" asp-controller="Categoria">
									<input type="hidden" value="@categoria.Id">
									<button type="submit" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@categoria.Id"
									onclick="return confirm('Eiminar el registro?')"><i class="bi bi-trash-fill"></i></button>
								</form>
							</td>
							<td></td>
							<td>
								<a href="/Producto/ProductosPorCategoria/?nombre=@categoria.Nombre&id=@categoria.Id"
								class="btn btn-outline-secondary"><i class="bi bi-search"></i>Ver Productos</a>
							</td>
						</tr>
					}
					</tbody>					
			</table>
		</article>	
	}else
	{
		<br>
		<br>
		<p class="alert alert-danger">No hay categorias para mostrar.</p>
	}
</section>
